@import './Variable.scss';

@font-face {
  font-family: 'AllianceM';
  src: local('AllianceM'), local('AllianceM'),
    url('./Font/AllianceM.ttf') format('truetype');
}

@font-face {
  font-family: 'AllianceEB';
  src: local('AllianceEB'), local('AllianceEB'),
    url('./Font/AllianceEB.ttf') format('truetype');
}

body {
  background-color: $sweetwhite;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
